# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# FastAPI/Backend
backend/.env
backend/medapp.db
backend/media/

# Node/Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.env

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
