:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

section {
  width: 100%;
}

.chat-full-height {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
}
